body {
    font-family: Arial, sans-serif;
    background-color:  #f4f4f4;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 2em 0;
    border-radius: 6px;
}
section {
    max-width: 800px; 
    margin: 2em auto ;
    padding: 1em;
    background-color: #f4f4f4;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
 section {
    display:block;

}
h2 {  
    color: #333;
}

h2 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.5em;
    margin-top: 1.5em;
}
p{
    margin-bottom: 1em;
}
ul {
    list-style-type: none;
    padding: 0;
}
ul li{
    margin-bottom: 1em;
}
footer{
    color: #f4f4f4;
    background-color: #333;
    text-align: center;
    padding: 1em 0;
}